body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.logo-rodape {
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
}

.habilitar {
    display: block;
}
.desabilitar {
    display: none;
}
p#atividade {
    font-size: 17px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
span#titulo {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: oblique;
    
   
    
}